@import "swiper/swiper.min.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: block;
  font-family: "SVN-Poppins", sans-serif;
  font-size: 14px;
  color: #6e7171;
}
